@import url('https://fonts.googleapis.com/css?family=Kodchasan');


/*--Colors and Margins--*/

body {
    margin: 0 20px;
    background-color: #000000;
   /* background: #000000 url("/assets/images/Tool Background1.jpg") no-repeat center;*/
    color: #6A5ACD;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.container {
    margin-bottom: 40px;
}

.navbar-nav li a {
    color: #6A5ACD;
}

/*--Header--*/

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    color: #6A5ACD;
}

/*--Body--*/

.jumbotron {
   background: #000000 url(/assets/images/tool-hero-image.png) no-repeat center;
   height: 300px;
   margin-bottom: 20px;
}

/*table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 20%;
}*/


/*--Footer--*/

.social {
    text-align: center;
    display: inline-block;
    color: #6A5ACD;
}

.social-links {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #6495ED;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 15px 0;
    font-size: 20px;
    color: #6A5ACD;
}

@media (min-width: 768px) {
}
